<h2>Edit Unit</h2>

<div class="form-card">
  <form method="POST" action="/units/edit/<%= unit.id %>">

    <div class="form-group">
      <label>Nama Unit</label>
      <input type="text" name="nama_unit" value="<%= unit.nama_unit %>" required>
    </div>

    <div class="form-group">
      <label>Note</label>
      <textarea name="note"><%= unit.note %></textarea>
    </div>

    <div class="form-actions">
      <a href="/units" class="btn-cancel">Cancel</a>
      <button type="submit" class="btn-primary">Update Unit</button>
    </div>
    
  </form>
</div>